.wrapper{
    margin-top: 30px;
    flex-direction: column;
 display: flex;
 justify-content: center;
 height: 80vh;
 width: 50vw;
 align-items: center;
}
.accordian{
    width: 500px;
}
.item{
padding: 20px;
    background: gray;
margin: 34px;

}

.title{background: rgb(from color r g b);}